<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
{% load crispy_forms_tags %}
<h1 align="center">Deposito</h1>
<h2>Cliente : {{cliente.nombre}}</h2>
<small>numero cuenta : {{cuenta.numero}}</small>
<p>Saldo : {{cuenta.saldo}}</p>
<form  method="POST"  >{% csrf_token %}
    {{formulario|crispy}}
    <button type="submit" class="btn btb-dark">Guardar</button>
</form>
</body>
</html>